nifi-flows/Split_EMG_Records_by_Time_Flow.json
{"flowContents":{"identifier":"bd2b1653-35c5-3ad0-9daf-887775f07585","instanceIdentifier":"d7aabeaa-0193-1000-e54b-c7f97b3eb228","name":"Split_EMG_Records_by_Time_Flow","comments":"","position":{"x":72.0,"y":-280.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"fa53abdc-f9d7-3ef8-8c7e-768bf936963b","instanceIdentifier":"d7ac8967-0193-1000-d574-39fb428492b9","name":"SplitRecord","comments":"","position":{"x":-368.0,"y":40.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Record Writer":"70c55388-2347-383e-91e0-e09504742860","Record Reader":"17804b21-c58a-311f-b5c0-364f668a6876","Records Per Split":"100"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd2b1653-35c5-3ad0-9daf-887775f07585"},{"identifier":"eeb2f3ff-86c4-3782-9017-6799ecda1c50","instanceIdentifier":"d7b5a6f2-0193-1000-c1fc-64df02935920","name":"PutFile","comments":"","position":{"x":72.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/Users/lukehsu/Desktop/biomedical-data-pipeline/data/output/splitted_emg","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd2b1653-35c5-3ad0-9daf-887775f07585"},{"identifier":"c1ef33f7-80c8-33b8-adec-119d66be7810","instanceIdentifier":"d7b3e914-0193-1000-d11f-7d86b013b10e","name":"UpdateAttribute","comments":"","position":{"x":72.0,"y":40.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:substringBeforeLast('.')}_${fragment.index}.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd2b1653-35c5-3ad0-9daf-887775f07585"},{"identifier":"e44db1da-45de-38c3-891e-5aa6dd3fa7a6","instanceIdentifier":"d7aae079-0193-1000-e0c3-7f37b6a023b8","name":"GetFile","comments":"","position":{"x":-368.0,"y":-296.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/Users/lukehsu/Desktop/biomedical-data-pipeline/data/emg_data/p1","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"p1_111.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd2b1653-35c5-3ad0-9daf-887775f07585"},{"identifier":"88e24ea2-36ca-3533-9724-ede692c31759","instanceIdentifier":"d7b7ea3f-0193-1000-37aa-a7e1d0ee078d","name":"LogMessage","comments":"","position":{"x":-808.0,"y":40.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"log-message":"Error: SplitRecord","log-level":"Error","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd2b1653-35c5-3ad0-9daf-887775f07585"},{"identifier":"dfd51a9f-b30f-3aa7-8294-7e44be771670","instanceIdentifier":"d7abd651-0193-1000-c678-5d0a18040ada","name":"UpdateAttribute","comments":"","position":{"x":-368.0,"y":-128.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"output_def":"output_schema","Delete Attributes Expression":null,"input_def":"input_schema","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"output_def":{"name":"output_def","displayName":"output_def","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"input_def":{"name":"input_def","displayName":"input_def","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bd2b1653-35c5-3ad0-9daf-887775f07585"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f54bd0e8-80ba-3955-9465-f063f8495b42","instanceIdentifier":"d7b60234-0193-1000-a635-62f36bd2e6c4","name":"","source":{"id":"eeb2f3ff-86c4-3782-9017-6799ecda1c50","type":"PROCESSOR","groupId":"bd2b1653-35c5-3ad0-9daf-887775f07585","name":"PutFile","comments":"","instanceIdentifier":"d7b5a6f2-0193-1000-c1fc-64df02935920"},"destination":{"id":"482c3aaa-4329-357e-ba5b-3cef564831ae","type":"FUNNEL","groupId":"bd2b1653-35c5-3ad0-9daf-887775f07585","name":"Funnel","comments":"","instanceIdentifier":"d7b5e7ff-0193-1000-2572-aee71705305b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd2b1653-35c5-3ad0-9daf-887775f07585"},{"identifier":"ede3f22c-b84f-3908-87ba-1a134649a48f","instanceIdentifier":"d7b41508-0193-1000-431b-47bd03a42947","name":"","source":{"id":"fa53abdc-f9d7-3ef8-8c7e-768bf936963b","type":"PROCESSOR","groupId":"bd2b1653-35c5-3ad0-9daf-887775f07585","name":"SplitRecord","comments":"","instanceIdentifier":"d7ac8967-0193-1000-d574-39fb428492b9"},"destination":{"id":"c1ef33f7-80c8-33b8-adec-119d66be7810","type":"PROCESSOR","groupId":"bd2b1653-35c5-3ad0-9daf-887775f07585","name":"UpdateAttribute","comments":"","instanceIdentifier":"d7b3e914-0193-1000-d11f-7d86b013b10e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd2b1653-35c5-3ad0-9daf-887775f07585"},{"identifier":"7d3989b4-75b1-3cfe-9881-1c9fb31882e8","instanceIdentifier":"d7acb250-0193-1000-0a77-6cc1f8c1f3c9","name":"","source":{"id":"dfd51a9f-b30f-3aa7-8294-7e44be771670","type":"PROCESSOR","groupId":"bd2b1653-35c5-3ad0-9daf-887775f07585","name":"UpdateAttribute","comments":"","instanceIdentifier":"d7abd651-0193-1000-c678-5d0a18040ada"},"destination":{"id":"fa53abdc-f9d7-3ef8-8c7e-768bf936963b","type":"PROCESSOR","groupId":"bd2b1653-35c5-3ad0-9daf-887775f07585","name":"SplitRecord","comments":"","instanceIdentifier":"d7ac8967-0193-1000-d574-39fb428492b9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd2b1653-35c5-3ad0-9daf-887775f07585"},{"identifier":"e4b3185d-51aa-3d1b-8906-ba2d4b733154","instanceIdentifier":"d7b8c46a-0193-1000-0c79-079a4725dda5","name":"","source":{"id":"88e24ea2-36ca-3533-9724-ede692c31759","type":"PROCESSOR","groupId":"bd2b1653-35c5-3ad0-9daf-887775f07585","name":"LogMessage","comments":"","instanceIdentifier":"d7b7ea3f-0193-1000-37aa-a7e1d0ee078d"},"destination":{"id":"df994f8a-ddd1-3adb-ba95-ca0e597cbf23","type":"FUNNEL","groupId":"bd2b1653-35c5-3ad0-9daf-887775f07585","name":"Funnel","comments":"","instanceIdentifier":"d7b847d6-0193-1000-0a00-230ff159d3d4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd2b1653-35c5-3ad0-9daf-887775f07585"},{"identifier":"6b13913b-5e2c-37ec-8649-e6cfe1100ac3","instanceIdentifier":"d7b5d116-0193-1000-7d7a-2f240dd66116","name":"","source":{"id":"c1ef33f7-80c8-33b8-adec-119d66be7810","type":"PROCESSOR","groupId":"bd2b1653-35c5-3ad0-9daf-887775f07585","name":"UpdateAttribute","comments":"","instanceIdentifier":"d7b3e914-0193-1000-d11f-7d86b013b10e"},"destination":{"id":"eeb2f3ff-86c4-3782-9017-6799ecda1c50","type":"PROCESSOR","groupId":"bd2b1653-35c5-3ad0-9daf-887775f07585","name":"PutFile","comments":"","instanceIdentifier":"d7b5a6f2-0193-1000-c1fc-64df02935920"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd2b1653-35c5-3ad0-9daf-887775f07585"},{"identifier":"5026a438-a6e5-3955-a4bf-f96fb790d4ca","instanceIdentifier":"d7abee48-0193-1000-095c-a226df028080","name":"","source":{"id":"e44db1da-45de-38c3-891e-5aa6dd3fa7a6","type":"PROCESSOR","groupId":"bd2b1653-35c5-3ad0-9daf-887775f07585","name":"GetFile","comments":"","instanceIdentifier":"d7aae079-0193-1000-e0c3-7f37b6a023b8"},"destination":{"id":"dfd51a9f-b30f-3aa7-8294-7e44be771670","type":"PROCESSOR","groupId":"bd2b1653-35c5-3ad0-9daf-887775f07585","name":"UpdateAttribute","comments":"","instanceIdentifier":"d7abd651-0193-1000-c678-5d0a18040ada"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd2b1653-35c5-3ad0-9daf-887775f07585"},{"identifier":"decd4959-192a-3a7d-9e32-a9e7a0db688a","instanceIdentifier":"d7b83827-0193-1000-106b-363d4cfe62ca","name":"","source":{"id":"fa53abdc-f9d7-3ef8-8c7e-768bf936963b","type":"PROCESSOR","groupId":"bd2b1653-35c5-3ad0-9daf-887775f07585","name":"SplitRecord","comments":"","instanceIdentifier":"d7ac8967-0193-1000-d574-39fb428492b9"},"destination":{"id":"88e24ea2-36ca-3533-9724-ede692c31759","type":"PROCESSOR","groupId":"bd2b1653-35c5-3ad0-9daf-887775f07585","name":"LogMessage","comments":"","instanceIdentifier":"d7b7ea3f-0193-1000-37aa-a7e1d0ee078d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bd2b1653-35c5-3ad0-9daf-887775f07585"}],"labels":[{"identifier":"82e50f09-90f0-39e6-9597-0deac12ca1c2","instanceIdentifier":"d7b09d14-0193-1000-9b99-2bfc45bd6b66","position":{"x":-360.0,"y":184.0},"label":"To simulate our EMG sensor processing signal at 100Hz, set records per split to 100","zIndex":0,"width":256.0,"height":56.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"bd2b1653-35c5-3ad0-9daf-887775f07585"}],"funnels":[{"identifier":"482c3aaa-4329-357e-ba5b-3cef564831ae","instanceIdentifier":"d7b5e7ff-0193-1000-2572-aee71705305b","position":{"x":223.0,"y":-233.0},"componentType":"FUNNEL","groupIdentifier":"bd2b1653-35c5-3ad0-9daf-887775f07585"},{"identifier":"df994f8a-ddd1-3adb-ba95-ca0e597cbf23","instanceIdentifier":"d7b847d6-0193-1000-0a00-230ff159d3d4","position":{"x":-657.5,"y":-62.5},"componentType":"FUNNEL","groupIdentifier":"bd2b1653-35c5-3ad0-9daf-887775f07585"}],"controllerServices":[{"identifier":"17804b21-c58a-311f-b5c0-364f668a6876","instanceIdentifier":"d7acf8f9-0193-1000-8fd7-4226871bd1b6","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"true","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${input_def}","schema-registry":"b0cd174e-485d-3fc0-a71f-c7c60622775a","csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bd2b1653-35c5-3ad0-9daf-887775f07585"},{"identifier":"b0cd174e-485d-3fc0-a71f-c7c60622775a","instanceIdentifier":"d7ad4ae2-0193-1000-2565-767e822bd9d9","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"2.0.0"},"properties":{"avro-reg-validated-field-names":"true","input_schema":"{\n    \"name\": \"EMGRecord\",\n    \"namespace\": \"nifi_namespace\",\n    \"type\": \"record\",\n    \"fields\": [\n      {\"name\": \"idx\", \"type\": \"int\"},\n      {\"name\": \"gt\", \"type\": \"int\"},\n      {\"name\": \"time_elapsed\", \"type\": \"double\"},\n      {\"name\": \"current_time\", \"type\": \"long\"},\n      {\"name\": \"current_task\", \"type\": [\"null\", \"string\"]},\n      {\"name\": \"motor_position\", \"type\": \"int\"},\n      {\"name\": \"emg0\", \"type\": \"int\"},\n      {\"name\": \"emg1\", \"type\": \"int\"},\n      {\"name\": \"emg2\", \"type\": \"int\"},\n      {\"name\": \"emg3\", \"type\": \"int\"},\n      {\"name\": \"emg4\", \"type\": \"int\"},\n      {\"name\": \"emg5\", \"type\": \"int\"},\n      {\"name\": \"emg6\", \"type\": \"int\"},\n      {\"name\": \"emg7\", \"type\": \"int\"}\n    ]\n  }\n  ","output_schema":"{\n    \"name\": \"EMGRecord\",\n    \"namespace\": \"nifi_namespace\",\n    \"type\": \"record\",\n    \"fields\": [\n      {\"name\": \"idx\", \"type\": \"int\"},\n      {\"name\": \"gt\", \"type\": \"int\"},\n      {\"name\": \"time_elapsed\", \"type\": \"double\"},\n      {\"name\": \"current_time\", \"type\": \"long\"},\n      {\"name\": \"current_task\", \"type\": [\"null\", \"string\"]},\n      {\"name\": \"motor_position\", \"type\": \"int\"},\n      {\"name\": \"emg0\", \"type\": \"int\"},\n      {\"name\": \"emg1\", \"type\": \"int\"},\n      {\"name\": \"emg2\", \"type\": \"int\"},\n      {\"name\": \"emg3\", \"type\": \"int\"},\n      {\"name\": \"emg4\", \"type\": \"int\"},\n      {\"name\": \"emg5\", \"type\": \"int\"},\n      {\"name\": \"emg6\", \"type\": \"int\"},\n      {\"name\": \"emg7\", \"type\": \"int\"}\n    ]\n  }\n  "},"propertyDescriptors":{"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"input_schema":{"name":"input_schema","displayName":"input_schema","identifiesControllerService":false,"sensitive":false,"dynamic":true},"output_schema":{"name":"output_schema","displayName":"output_schema","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bd2b1653-35c5-3ad0-9daf-887775f07585"},{"identifier":"70c55388-2347-383e-91e0-e09504742860","instanceIdentifier":"d7ad171f-0193-1000-3671-03a1478bcc6b","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":"b0cd174e-485d-3fc0-a71f-c7c60622775a","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"schema-name","schema-name":"${output_def}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bd2b1653-35c5-3ad0-9daf-887775f07585"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}